@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
html {
  color: #0a0a0a;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
}

a,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .text-16 {
    font-size: 14px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 20px;
  padding-bottom: 44px;
}
@media (max-width: 992px) {
  .header .container {
    gap: 20px;
    padding-bottom: 36px;
  }
}
@media (max-width: 768px) {
  .header .container {
    gap: 20px 16px;
  }
}
@media (max-width: 576px) {
  .header .container {
    gap: 20px 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__info {
  flex: 1 1 100%;
  display: flex;
  gap: 48px;
  padding: 32px 0;
}
@media (max-width: 992px) {
  .header__info {
    padding: 32px 0 0;
  }
}
@media (max-width: 576px) {
  .header__info {
    display: none;
  }
}
.header__info-address {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 992px) {
  .header__info-address {
    display: none;
  }
}
.header__info-address::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/tag.svg) center no-repeat;
}
.header__info-address-text {
  color: #041862;
}
.header__info-address-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/arrow-1.svg) center no-repeat;
  border: none;
}
.header__info-time {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #041862;
}
.header__info-time::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/clock.svg) center no-repeat;
}
.header__info-email {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 992px) {
  .header__info-email {
    display: none;
  }
}
.header__info-email::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/mail.svg) center no-repeat;
}
.header__info-email a {
  color: #041862;
}
.header__info-phone {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__info-phone::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/phone.svg) center no-repeat;
}
.header__info-phone a {
  color: #e30613;
  font-weight: 500;
}
.header .main-nav {
  flex: 1 1 100%;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .header .main-nav {
    display: none;
  }
}
.header__logo {
  flex: 0 0 auto;
  margin-right: 16px;
}
@media (max-width: 1200px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .header__logo {
    flex: 1 1 calc(100% - 200px);
    order: 1;
  }
}
.header__logo-link {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .header__logo-link {
    justify-content: center;
  }
}
.header__logo-image {
  max-width: 183px;
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .header__logo-image {
    max-width: 170px;
  }
}
@media (max-width: 576px) {
  .header__logo-image {
    max-width: 124px;
  }
}
.header__burger {
  flex: 0 0 40px;
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__burger {
    flex: 0 0 24px;
    order: 0;
    margin-left: 24px;
  }
}
.header__burger-button {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/icons/burger-big.svg) center no-repeat;
}
@media (max-width: 576px) {
  .header__burger-button {
    width: 24px;
    height: 24px;
  }
}
.header__menu {
  flex: 1 1 calc(100% - 360px);
  display: none;
  height: 40px;
}
@media (max-width: 992px) {
  .header__menu {
    display: flex;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .header__menu {
    flex: 1 1 100%;
    justify-content: center;
    gap: 8px;
    order: 5;
  }
}
.header__menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 576px) {
  .header__menu-link {
    gap: 3px;
  }
}
.header__menu-link_discont {
  display: none;
}
@media (max-width: 576px) {
  .header__menu-link_discont {
    display: flex;
  }
}
.header__menu-link-image {
  width: 32px;
  height: 32px;
}
@media (max-width: 576px) {
  .header__menu-link-image {
    width: 24px;
    height: 24px;
  }
}
.header__menu-link-text {
  color: #041862;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 576px) {
  .header__menu-link-text {
    font-size: 14px;
    line-height: 16px;
  }
}
.header__catalog {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header__catalog {
    order: 3;
  }
}
.header__catalog-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 30px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-color: #041862;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__catalog-button {
    padding: 8px 15px;
    font-size: 16px;
  }
}
.header__catalog-button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../assets/icons/burger.svg) center no-repeat;
}
@media (max-width: 576px) {
  .header__catalog-button::before {
    display: none;
  }
}
.header__catalog-menu {
  display: none;
}
.header__search {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  border: 2px solid #041862;
  border-radius: 4px;
  background: #041862;
}
@media (max-width: 576px) {
  .header__search {
    flex: 1 1 50%;
    order: 4;
  }
}
.header__search-input {
  flex: 1 1 auto;
  display: block;
  width: 20px;
  padding: 11px 17px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .header__search-input {
    font-size: 12px;
  }
}
.header__search-input:focus {
  outline: 1px solid #041862;
}
.header__search-button {
  flex: 0 0 auto;
  display: inline-block;
  height: 40px;
  width: 62px;
  box-sizing: border-box;
  border: none;
  background: url(../assets/icons/loupe.svg) center no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__search-button {
    display: none;
  }
}
.header__links {
  flex: 1 1 286px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 286px;
}
@media (max-width: 1200px) {
  .header__links {
    flex: 1 1 auto;
    max-width: 228px;
  }
}
@media (max-width: 576px) {
  .header__links {
    flex: 0 0 24px;
    order: 2;
    gap: 28px;
  }
}
.header__link {
  flex: 0 0 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .header__link {
    flex: 0 0 76px;
  }
}
@media (max-width: 576px) {
  .header__link {
    flex: 0 0 24px;
  }
}
@media (max-width: 576px) {
  .header__link_discont {
    display: none;
  }
}
.header__link-image {
  width: 32px;
  height: 32px;
}
@media (max-width: 576px) {
  .header__link-image {
    width: 24px;
    height: 24px;
  }
}
.header__link-text {
  color: #041862;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 576px) {
  .header__link-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__link-text {
    display: none;
  }
}

.main-nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -40px;
  padding: 20px 40px;
  background-color: #ececec;
}
.main-nav__menu-link {
  color: #041862;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
.main-nav__submenu {
  display: none;
  list-style-type: none;
}
.main-nav__submenu-link {
  color: #041862;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .divider {
    margin-bottom: 18px;
  }
}
@media (max-width: 576px) {
  .divider {
    margin-bottom: 24px;
  }
}
.divider .container {
  height: 48px;
  border-top: 1px solid #a0a6aa;
  border-bottom: 1px solid #a0a6aa;
}
@media (max-width: 576px) {
  .divider .container {
    height: 32px;
  }
}

.banners .container {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #ececec;
}
@media (max-width: 576px) {
  .banners .container {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.banners .swiper-slide {
  height: 320px;
  border-radius: 7px;
  background-color: #a0a6aa;
}
@media (max-width: 576px) {
  .banners .swiper-slide {
    height: 200px;
    border-radius: 4px;
  }
}
.banners .swiper-button-prev, .banners .swiper-button-next {
  height: 48px;
  width: 48px;
  background: url(../assets/icons/next-button.svg);
}
@media (max-width: 768px) {
  .banners .swiper-button-prev, .banners .swiper-button-next {
    display: none;
  }
}
.banners .swiper-button-prev::after, .banners .swiper-button-next::after {
  display: none;
}
.banners .swiper-button-prev {
  left: 27px;
}
.banners .swiper-button-next {
  right: 27px;
  transform: rotate(180deg);
}
.banners .swiper-pagination {
  position: absolute;
  bottom: 28px !important;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 576px) {
  .banners .swiper-pagination {
    bottom: 20px !important;
  }
}
.banners .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 !important;
  background-color: #c7c7c7;
  opacity: 1;
}
.banners .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #041862;
}