.basket {
  color: $blue;

  &__title {
    display: flex;
    align-items: flex-end;
    gap: 48px;

    @include mobile {
      gap: 32px;
    }

    &-goods {
      padding-bottom: 2px;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    margin: 0 -40px;
    padding: 32px 40px;
    background-color: $grey100;

    @include laptop {
      flex-direction: column;
      align-items: stretch;
    }

    @include tablet {
      gap: 24px;
      margin: 0 -20px;
      padding: 0;
    }

    @include mobile {
      gap: 16px;
      margin: 0 -10px;
    }
  }

  &__cards {
    flex: 1 1 60%;
    order: 0;
    height: 558px;
    box-sizing: border-box;
    background-color: $white;

    @include laptop {
      flex: 0 1 auto;
    }

    @include tablet {
      padding: 0 20px;
    }

    @include mobile {
      padding: 0 10px;
    }
  }

  &__checkout {
    flex: 0 1 35%;
    order: 1;
    max-width: 340px;
    padding: 32px 24px;
    box-sizing: border-box;
    background-color: $white;

    @include laptop {
      flex: 0 1 auto;
      order: 2;
      max-width: none;
    }

    @include tablet {
      padding: 16px 20px;
    }

    @include mobile {
      padding: 16px 10px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 24px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @include tablet {
        max-width: 356px;
        margin: 0 0 12px;
        margin-left: auto;
        font-size: 16px;
        font-weight: 500;
      }

      @include mobile {
        max-width: none;
        margin-left: 0;
        font-size: 14px;
      }

      &_quantity {
        @include mobile {
          justify-content: flex-start;
          gap: 8px;
        }
      }

      &_price,
      &_discount {
        @include tablet {
          display: none;
        }
      }

      &_total {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 600;

        @include mobile {
          margin-bottom: 24px;
        }
      }

      &_discount &-data {
        color: $red;
      }
    }

    &-order {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 24px;

      &-button {
        max-width: 260px;
        width: 100%;
        padding: 4px 20px;
        box-sizing: border-box;
      }

      &-disclaimer {
        display: inline-block;
        max-width: 260px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        @include laptop {
          max-width: 480px;
          text-align: center;
        }
      }
    }
  }

  &__buttons {
    flex: 1 1 100%;
    order: 2;

    @include laptop {
      flex: 0 1 auto;
      order: 1;
      padding: 0 40px;
    }

    @include tablet {
      padding: 0 20px;
    }

    @include mobile {
      padding: 0 10px;
    }

    &-clear-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 8px 0 0;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      border: none;
      background-color: rgba($color: $white, $alpha: 0);
      transition: $baseTransition;
      cursor: pointer;

      @include tablet {
        font-size: 16px;
      }
  
      @include mobile {
        font-size: 14px;
      }

      &:hover {
        color: $lightBlue;
      }

      & svg {
        display: inline-block;
        max-width: 32px;
        height: auto;

        & path {
          fill: $blue;
          transition: $baseTransition;
        }
      }

      &:hover svg path {
        fill: $lightBlue;
      }
    }
  }
}
