.category {
  padding: 0 0 72px;

  @include tablet {
    padding: 0 0 64px;
  }

  @include mobile {
    padding: 0 0 48px;
  }

  &__title {
    margin: 0 -40px;
    padding: 31px 40px;
    background-color: $grey100;

    @include tablet {
      margin: 0 -20px;
      padding: 20px;
    }

    @include mobile {
      margin: 0 -10px;
      padding: 9px 10px;
    }
  }

  &__quantity {
    margin: 16px 0 24px;
    color: $blue;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

    @include tablet {
      margin: 20px 0 32px;
    }

    @include mobile {
      margin: 16px 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__content {
    display: flex;
    gap: 28px;
  }

  &__filter {
    flex: 0 0 280px;
    padding-top: 64px;

    @include laptop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      max-height: 100vh;
      max-width: 480px;
      height: 100%;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      overflow: auto;
      background-color: $white;
      transition: transform linear 0.2s;
      transform: translateX(-500px);
      will-change: transform;
    }

    &.active {
      @include laptop {
        transform: translateX(0);
      }
    }

    &-heading {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 32px 0px;
      margin: 0 0 8px;
      color: $blue;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;

      @include laptop {
        display: flex;
      }
    }

    &-close {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../assets/icons/close.svg);
      background-size: 16px;
      border: none;
      cursor: pointer;
    }

    &-form {
      @include laptop {
        max-width: 340px;
        margin: 0 auto;
      }

      &-title {
        margin: 0 0 16px;
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    &-price {
      margin: 0 0 24px;
      padding: 0;
      border: none;

      & .double-range-slider {
        &__inputs {
          margin: 0 0 8px;
        }

        &__labels {
          margin: 0;
        }

        &__label {
          color: $blue;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          border-radius: 4px;
          border: 1px solid $grey300;
          background-color: $white;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 0;
      margin: 20px 0 0;
      border: none;
    }

    &-reset-button,
    &-show-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      padding: 8px;
      box-sizing: border-box;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      border: none;
      transition: $baseTransition;
      cursor: pointer;
    }

    &-show-button {
      color: $white;
      border-radius: 4px;
      background-color: $blue;

      &:hover {
        background-color: $lightBlue;
      }
    }

    &-reset-button {
      color: $blue;
      border-radius: 48px;
      background-color: $grey100;

      &:hover {
        color: $white;
        background-color: $grey300;
      }
    }

    &-checkbox {
      margin: 0;
      padding: 24px 12px 24px 8px;
      border: 1px solid $grey300;
      border-top: none;

      &_first {
        border-top: 1px solid $grey300;
        border-radius: 4px 4px 0 0;
      }

      &_last {
        border-radius: 0 0 4px 4px;
      }

      &-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-text {
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      &-input {
        display: inline-block;

        &::before {
          content: "";
          display: block;
          height: 16px;
          width: 16px;
          background: url(../assets/icons/checkbox.svg) center no-repeat;
          background-size: 16px;
        }

        &:checked::before {
          background: url(../assets/icons/checkbox-checked.svg) center no-repeat;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
    gap: 24px;

    &-sort {
      display: flex;
      align-items: center;
      gap: 9px;
      order: 0;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      &-title {
        @include laptop {
          display: none;
        }
      }
    }

    &-view {
      display: flex;
      align-items: center;
      gap: 16px;
      order: 1;

      @include mobile {
        order: 2;
      }

      &-button {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        cursor: pointer;

        &_tile {
          background-image: url(../assets/icons/tile.svg);

          &.active {
            background-image: url(../assets/icons/tile-active.svg);
          }
        }

        &_list {
          background-image: url(../assets/icons/list.svg);

          &.active {
            background-image: url(../assets/icons/list-active.svg);
          }
        }
      }
    }

    &-filter {
      position: relative;
      z-index: 50;
      display: none;
      align-items: center;
      gap: 16px;
      padding: 8px 23px;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      border-radius: 4px;
      border: 1px solid $grey300;
      background-color: $white;
      cursor: pointer;

      @include mobile {
        order: 1;
      }

      &:hover {
        color: $lightBlue;
        border-color: $lightBlue;
      }

      &::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../assets/icons/filter.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
      }

      &.active {
        &::before {
          content: "";
          display: none;

          @include laptop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            display: block;
            background-color: rgba($color: #000000, $alpha: 0.25);
          }
        }
      }

      @include laptop {
        display: flex;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 56px;

    @include tablet {
      margin: 0 0 40px;
    }

    @include mobile {
      gap: 20px 12px;
      margin: 0 0 32px;
    }

    & .good-card {
      flex: 1 1 calc(100% / 3 - 40px);
      max-width: calc(100% / 3 - 20px * 2 / 3);

      @include mobile {
        flex: 1 1 calc(100% / 2 - 18px);
        max-width: calc(100% / 2 - 18px);
      }
    }
  }

  &__buttons {
    margin: 0 0 56px;
    text-align: center;

    @include tablet {
      margin: 0 0 40px;
    }

    &-show-more {
      padding: 5px 28px;
      color: $blue;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      border: 4px solid $blue;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;

      @include tablet {
        padding: 1px 23px;
      }

      @include mobile {
        padding: 2px 12px;
        font-size: 14px;
        line-height: 20px;
      }

      &:hover {
        color: $lightBlue;
        border: 4px solid $lightBlue;
      }
    }
  }

  & .pagination {
  }
}
