.good-info {
  &__title {
    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 170px;
    margin: 0 -40px;
    padding: 32px 40px;
    background-color: $grey100;

    @include desktop {
      justify-content: space-between;
      gap: 20px;
    }

    @include laptop {
      display: block;
      padding: 0 40px;
    }

    @include tablet {
      margin: 0 -20px;
      padding: 0 20px;
    }

    @include mobile {
      margin: 0 -10px;
      padding: 0 10px;
    }
  }

  &__gallery {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include laptop {
      padding: 32px 0;
    }

    @include mobile {
      padding: 16px 0;
    }

    &-main {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      order: 1;
      min-width: 0;
      max-width: 440px;

      @include laptop {
        order: 0;
      }

      & .swiper {
        min-width: 0;

        @include mobile {
          padding-bottom: 24px;
        }

        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 440px;
          border-radius: 4px;
          background-color: $white;
          overflow: hidden;

          @include mobile {
            height: 320px;
          }

          & img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        &-pagination {
          display: none;

          @include mobile {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            bottom: 0 !important;
          }

          &-bullet {
            display: block;
            margin: 0;
            padding: 0;
            width: 6px;
            height: 6px;

            &-active {
              width: 8px;
              height: 8px;
              background-color: $blue;
            }
          }
        }
      }
    }

    &-thumbs {
      flex: 0 0 auto;
      order: 0;
      padding: 32px 52px;
      min-height: 100%;
      box-sizing: border-box;

      @include desktop {
        padding: 32px 16px;
      }

      @include laptop {
        order: 1;
        padding: 0 52px;
      }

      @include tablet {
        padding: 0;
      }

      @include mobile {
        display: none;
      }

      & .swiper {
        max-height: calc(440px - 72px);
        margin: 12px 0;

        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 80px;
          width: 80px;
          border-radius: 4px;
          box-sizing: border-box;
          background-color: $white;
          box-sizing: border-box;
          overflow: hidden;
          background-color: $white;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          &-thumb-active {
            border: 3px solid $black;
          }
        }

        &-button-prev,
        &-button-next {
          position: static;
          height: 24px;
          width: 100%;
          padding: 0;
          margin: 0;
          background-color: aqua;
          background: url(../assets/icons/arrow-down.svg) center no-repeat;

          &::after {
            display: none;
          }
        }

        &-button-next {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__info {
    flex: 0 1 312px;
    padding: 32px 0;
    color: $blue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    @include laptop {
      padding: 16px 40px;
      margin: 0 -40px;
      background-color: $white;
    }

    @include tablet {
      padding: 16px 20px;
      margin: 0 -20px;
      font-size: 16px;
      line-height: normal;
    }

    @include mobile {
      padding: 16px 10px;
      margin: 0 -10px;
      font-size: 14px;
    }

    &-not-available {
      display: none;
    }

    &-stock {
      margin: 0 0 28px;

      @include tablet {
        margin: 0 0 20px;
      }

      @include mobile {
        margin: 0 0 14px;
      }
    }

    &-prices {
      display: flex;
      align-items: flex-end;
      gap: 17px;
      margin: 0 0 32px;

      @include tablet {
        margin-bottom: 24px;
      }
    }

    &-price {
      &_new {
        color: $blue;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;

        @include tablet {
          font-size: 32px;
        }

        @include mobile {
          font-size: 24px;
        }

        & span {
          font-size: 24px;
          line-height: 24px;

          @include mobile {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }

      &_old {
        position: relative;
        padding-bottom: 6px;
        color: $blue;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;

        @include tablet {
          font-size: 17px;
        }

        @include mobile {
          font-size: 14px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          height: 1px;
          width: calc(100% + 10px);
          background-color: $red;
          transform: translateX(-50%) translateY(-50%) rotate(-8deg);

          @include mobile {
            width: calc(100% + 2px);
          }
        }
      }
    }

    &-buttons {
      margin: 0 0 40px;

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include mobile {
        margin: 0 0 24px;
      }

      &-add {
        display: inline-block;
      }

      &.active &-add {
        display: none;
      }

      &-count {
        display: none;
        align-items: center;

        & > * {
          display: inline-block;
          min-height: 48px;
          box-sizing: border-box;
          user-select: none;

          @include mobile {
            min-height: 32px;
          }
        }

        &-link {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          padding: 4px 18px;
          border: 2px solid $blue;
          border-radius: 4px;
          box-sizing: border-box;
          color: $blue;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          background-color: $white;

          @include mobile {
            font-size: 14px;
          }

          &:hover {
            color: $lightBlue;
            border-color: $lightBlue;
          }
        }

        &-minus,
        &-plus {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          aspect-ratio: 1;
          color: $blue;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          border: 2px solid $blue;
          border-radius: 6px;
          background-color: $white;
          cursor: pointer;

          @include mobile {
            font-size: 24px;
          }

          &:hover {
            color: $lightBlue;
            border-color: $lightBlue;
          }
        }

        &-quantity {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 72px;
          padding: 0 8px;
          box-sizing: border-box;
          color: $blue;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          background-color: $white;

          @include mobile {
            min-width: 52px;
            font-size: 14px;
          }
        }
      }

      &.active &-count {
        display: flex;
      }
    }

    &-lot {
      margin: 0 0 24px;

      @include mobile {
        margin: 0 0 12px;
      }
    }

    &-reviews {
      display: flex;
      align-items: center;
      gap: 24px;
      margin: 0 0 24px;
      line-height: normal;

      @include mobile {
        margin: 0 0 12px;
      }

      &-rating {
        display: flex;
        align-items: center;
        gap: 4px;

        &::before {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url(../assets/icons/star-gold.svg) center no-repeat;
          background-size: 24px;

          @include mobile {
            width: 16px;
            height: 16px;
            background-size: 16px;
          }
        }

        &_disabled {
          background-image: url(../assets/icons/star-grey.svg);
        }
      }
    }
  }

  &_not-available &__info {
    &-stock,
    &-prices,
    &-buttons,
    &-delivery {
      display: none;
    }

    &-not-available {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 312px;
      width: 100%;
      margin: 0 0 40px;
      padding: 10px 14px;
      box-sizing: border-box;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      border-radius: 4px;
      border: 4px solid $grey300;
      background: $grey100;

      @include laptop {
        margin: 0 auto 40px;
      }

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        max-width: 232px;
        margin-bottom: 24px;
        padding: 7px 14px;
        font-size: 14px;
        border-width: 2px;
      }
    }
  }

  &__properties {
    padding: 48px 0 96px;

    @include tablet {
      padding: 80px 0;
    }

    @include mobile {
      padding: 48px 0 56px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0;
      margin: 0 0 54px;
      list-style-type: none;

      @include tablet {
        margin: 0 0 40px;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 4px;
        color: $blue;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 14px;
        }

        &-name {
          flex: 0 1 300px;
          display: flex;
          gap: 4px;
          max-width: 300px;
          width: 100%;
          text-wrap: nowrap;

          &::after {
            content: "";
            flex: 1 1 auto;
            display: block;
            width: 100%;
            margin: 0 0 6px;
            border-bottom: 2px dotted $blue;
          }
        }

        &-value {
          text-wrap: nowrap;
        }
      }
    }

    &-description {
      max-width: 896px;
      margin: 0;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      @include mobile {
        font-size: 14px;
      }
    }
  }
}
