.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: $white;
  // transition: all linear 0.3s;

  &.active,
  &.catalog {
    &:before {
      @include laptop {
        content: "";
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba($color: $black, $alpha: 0.5);
      }
    }
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 20px;
    padding-bottom: 40px;

    @include laptop {
      gap: 20px;
      padding-bottom: 36px;
    }

    @include tablet {
      gap: 12px 16px;
    }

    @include mobile {
      gap: 14px 12px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__info {
    flex: 1 1 100%;
    display: flex;
    gap: 48px;
    padding: 26px 0 24px;

    @include laptop {
      padding: 32px 0 0;
    }

    @include mobile {
      display: none;
    }

    &-address {
      position: relative;
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      @include laptop {
        display: none;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../assets/icons/tag.svg) center no-repeat;
      }

      &-text {
        color: $blue;
        transition: $baseTransition;
      }

      &:hover &-text {
        color: $lightBlue;
      }

      &-button {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../assets/icons/arrow-1.svg) center no-repeat;
        border: none;
        transition: $baseTransition;
      }

      &:hover &-button {
        transform: rotate(180deg);
      }

      &-info {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        display: none;
        width: 280px;
        padding: 10px 6px;
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid $grey200;
        background: $white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      &:hover &-info {
        display: inline-block;
      }
    }

    &-time {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $blue;

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../assets/icons/clock.svg) center no-repeat;
      }
    }

    &-email {
      display: flex;
      align-items: center;
      gap: 8px;

      @include laptop {
        display: none;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../assets/icons/mail.svg) center no-repeat;
      }

      & a {
        color: $blue;
      }
    }

    &-phone {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../assets/icons/phone.svg) center no-repeat;
      }

      & a {
        color: $red;
        font-weight: 500;
      }
    }
  }

  & .main-nav {
    flex: 1 1 100%;
    margin-bottom: 24px;

    @include laptop {
      left: -640px;
      margin: 0;
      transition: left ease-in-out 0.3s;
    }
  }

  &.active .main-nav {
    @include laptop {
      left: 0;
    }
  }

  &__logo {
    flex: 0 0 auto;
    margin-right: 16px;

    @include desktop {
      margin-right: 0;
    }

    @include mobile {
      flex: 1 1 calc(100% - 200px);
      order: 1;
    }

    &-link {
      display: flex;
      align-items: center;

      @include mobile {
        justify-content: center;
      }
    }

    &-image {
      max-width: 183px;
      width: 100%;
      height: auto;

      @include laptop {
        max-width: 170px;
      }

      @include mobile {
        max-width: 124px;
      }
    }
  }

  &__burger {
    flex: 0 0 40px;
    display: none;

    @include laptop {
      display: block;
    }

    @include mobile {
      flex: 0 0 24px;
      order: 0;
      margin-left: 24px;
    }

    &-button {
      width: 40px;
      height: 40px;
      border: none;
      background: url(../assets/icons/burger-big.svg) center no-repeat;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__menu {
    flex: 1 1 calc(100% - 360px);
    display: none;
    height: 40px;

    @include laptop {
      display: flex;
      gap: 40px;
    }

    @include mobile {
      flex: 1 1 100%;
      justify-content: center;
      gap: 8px;
      order: 5;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 8px;

      @include mobile {
        gap: 3px;
      }

      &_discont {
        display: none;

        @include mobile {
          display: flex;
        }
      }

      &-image {
        width: 32px;
        height: 32px;

        @include mobile {
          width: 24px;
          height: 24px;
        }
      }

      &-text {
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;

        @include mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  &__catalog {
    position: relative;
    flex: 0 0 auto;

    @include mobile {
      order: 3;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 30px;
      color: $white;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      border: none;
      border-radius: 4px;
      background-color: $blue;
      transition: $baseTransition;
      cursor: pointer;

      @include laptop {
        padding: 8px 15px;
        font-size: 16px;
      }

      @include mobile {
      }

      &:hover {
        background-color: $lightBlue;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../assets/icons/burger.svg) center no-repeat;

        @include mobile {
          display: none;
        }
      }

      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 299;
        display: none;
        background-color: rgba($color: #000000, $alpha: 0.25);
      }
    }

    &.active &-button {
      &::after {
        @include laptop {
          display: block;
        }
      }
    }

    &-subitems {
      position: absolute;
      top: calc(100% + 8px);
      left: 300px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 680px;
      height: 710px;
      width: max-content;
      padding: 16px;
      margin: 0;
      box-sizing: border-box;
      overflow: hidden;
      list-style-type: none;
      border-radius: 0px 4px 4px 0px;
      border: 1px solid $grey200;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      @include desktop {
        left: 100px;
      }

      @include laptop {
        display: none;
      }

      &.hidden {
        display: none;
      }
    }

    &-menu {
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      z-index: 100;
      display: none;
      flex-direction: column;
      gap: 20px;
      height: 710px;
      width: 300px;
      padding: 18px 11px;
      margin: 0;
      box-sizing: border-box;
      list-style-type: none;
      overflow-y: auto;
      overflow-x: visible !important;
      border-radius: 4px;
      border: 1px solid $grey200;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      @include desktop {
        left: -200px;
      }

      @include laptop {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        z-index: 300;
        display: block !important;
        max-width: 480px;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
        transform: translateX(-500px);
        transition: transform linear 0.2s;
        will-change: transform;
      }

      &-title {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        margin: 0;
        padding: 26px 20px 22px;
        color: $blue;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        background-color: $white;

        @include laptop {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      &-close {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: none;
        background: url(../assets/icons/close.svg) center no-repeat;
        background-size: 16px;
        cursor: pointer;
      }

      &-item {
        @include laptop {
          padding: 18px 44px 18px 36px;
          border-bottom: 1px solid $grey300;
          background: url(../assets/icons/arrow-right.svg) right 10px center no-repeat;
        }
      }

      &-link {
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        &:hover {
          color: $lightBlue;
        }
      }
    }

    &.active &-menu {
      display: flex;

      @include laptop {
        transform: translateX(0);
      }
    }

    &-submenu {
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 680px;
      width: max-content;
      padding: 16px;
      margin: 0;
      box-sizing: border-box;
      overflow: auto;
      list-style-type: none;
      border-radius: 0px 4px 4px 0px;
      border: 1px solid $grey200;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      @include laptop {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        z-index: 400;
        display: block !important;
        max-width: 480px;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
        transform: translateX(-500px);
        transition: transform linear 0.2s;
        will-change: transform;
      }

      &-top {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        padding: 26px 20px 20px;
        background-color: $white;
        border-bottom: 1px solid $grey300;

        @include laptop {
          display: block;
        }
      }

      &-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-back {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        border: none;
        background-color: $white;

        &::before {
          content: "";
          display: block;
          height: 24px;
          width: 24px;
          background: url(../assets/icons/arrow-left.svg) center no-repeat;
          background-size: 24px;
        }
      }

      &-title {
        margin: 12px 0 0;
        color: $blue;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
      }

      &-item {
        max-width: 300px;

        @include laptop {
          max-width: none;
          padding: 18px 36px;
          border-bottom: 1px solid $grey300;
        }
      }

      &-link {
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &-menu-item.active &-submenu {
      @include laptop {
        transform: translateX(0);
      }
    }
  }

  &__search {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    border: 2px solid $blue;
    border-radius: 4px;
    background: $blue;

    @include mobile {
      flex: 1 1 50%;
      order: 4;
    }

    &-input {
      flex: 1 1 auto;
      display: block;
      width: 20px;
      padding: 11px 17px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;

      @include laptop {
        font-size: 12px;
      }

      &:focus {
        outline: 1px solid rgba($color: $blue, $alpha: 1);
      }
    }

    &-button {
      flex: 0 0 auto;
      display: inline-block;
      height: 40px;
      width: 62px;
      box-sizing: border-box;
      border: none;
      background: url(../assets/icons/loupe.svg) center no-repeat;
      cursor: pointer;

      @include tablet {
        display: none;
      }
    }
  }

  &__links {
    flex: 1 1 286px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 286px;

    @include desktop {
      flex: 1 1 auto;
      max-width: 228px;
    }

    @include mobile {
      flex: 0 0 24px;
      order: 2;
      gap: 28px;
    }
  }

  &__link {
    flex: 0 0 82px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    @include laptop {
      flex: 0 0 76px;
    }

    @include mobile {
      flex: 0 0 24px;
    }

    &_discont {
      @include mobile {
        display: none;
      }
    }

    &-image {
      width: 32px;
      height: 32px;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      color: $blue;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @include mobile {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    &-count {
      position: absolute;
      top: 0;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 16px;
      height: 16px;
      padding: 2px 0;
      box-sizing: border-box;
      color: $white;
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 20px;
      background-color: $red;

      @include tablet {
        right: 16px;
      }

      @include mobile {
        top: -6px;
        right: -6px;
        width: 12;
        height: 12px;
        min-width: 12px;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: $white;

    & .container {
      padding-top: 32px;
      padding-bottom: 20px;

      @include laptop {
        padding-top: 16px;
      }
    }
  }

  &.sticky &__info {
    display: none;
  }

  &.sticky .main-nav {
    display: none;

    @include laptop {
      display: block;
    }
  }

  &.sticky &__logo {
    @include laptop {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &.sticky &__burger {
    @include laptop {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &.sticky &__menu {
    @include laptop {
      display: none;
    }
  }
}
