.novelty {
  &__title {
  }

  &__cards {
    position: relative;
  }

  & .swiper {
    &-slide {
    }

    &-button-prev,
    &-button-next {
      height: 48px;
      width: 48px;
      background: url(../assets/icons/next-button.svg);

      @include tablet {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &-button-prev {
      left: -17px;
    }

    &-button-next {
      right: -17px;
      transform: rotate(180deg);
    }
  }
}
