.novelty {
  padding-top: 56px;

  @include mobile {
    padding-top: 32px;
  }

  &__cards {
    position: relative;

    @include tablet {
      margin: 0 -20px;
    }

    @include mobile {
      margin: 0 -10px;
    }
  }

  & .swiper {
    &-button-prev,
    &-button-next {
      height: 48px;
      width: 48px;
      background: url(../assets/icons/next-button.svg);

      @include tablet {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &-button-prev {
      left: -17px;
    }

    &-button-next {
      right: -17px;
      transform: rotate(180deg);
    }
  }
}
