.order {
  color: $blue;

  &__title {
    margin: 0 0 24px;

    @include tablet {
      margin: 0 0 20px;
    }

    @include mobile {
      margin: 0 0 12px;
    }
  }

  &__stages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    margin: 0 0 24px;

    @include tablet {
      margin: 0 0 20px;
    }

    @include mobile {
      gap: 12px;
      margin: 0 0 14px;
    }

    &-item {
      flex: 0 0 228px;
      position: relative;
      padding: 0 16px 16px;
      box-sizing: border-box;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include laptop {
        flex: 1 1 20%;
        padding: 0 12px 16px;
        font-size: 14px;
      }

      @include mobile {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 12px;
        clip-path: polygon(
          0% 0%,
          calc(100% - 12px) 0px,
          100% 6px,
          calc(100% - 12px) 12px,
          0 12px,
          6px 6px
        );
        background-color: $grey200;
      }

      &.active::after {
        background-color: $blue;
      }
    }

    &-steps {
      display: none;
      padding: 2px 16px;
      color: $blue;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      border: 1px solid $grey300;
      border-radius: 20px;

      @include mobile {
        display: block;
      }
    }

    &-name {
      display: none;
      color: $blue;
      font-weight: 400;
      font-size: 14px;
      line-height: 170%;

      @include mobile {
        display: block;
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include mobile {
      font-size: 14px;
    }

    &:has(input:required) {
      & > span::after {
        content: "*";
      }
    }
  }

  &__input {
    display: inline-block;
    padding: 11px 10px;
    width: 100%;
    box-sizing: border-box;
    color: $blue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 4px;
    border: 1px solid $grey300;
    background: $white;
    outline: none;

    @include mobile {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include mobile {
      font-size: 14px;
    }

    & > * {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__info {
    max-width: 340px;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    background-color: $white;

    @include mobile {
      padding: 12px 20px;
    }

    &-title {
      margin: 0 0 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;

      @include mobile {
        margin: 0 0 12px;
        font-size: 20px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 12px;
      box-sizing: border-box;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        max-width: 230px;
        font-size: 14px;
      }

      &_total {
        margin: 20px 0 0;
        font-weight: 500;

        @include mobile {
          margin: 0;
        }
      }
    }
  }

  &__main {
    margin: 0 -40px;
    padding: 20px 40px 40px;
    background-color: $grey100;

    @include tablet {
      margin: 0 -20px;
      padding: 16px 20px 32px;
    }

    @include mobile {
      margin: 0 -10px;
      padding: 16px 10px 24px;
    }

    &-title {
      margin: 0;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;

      @include tablet {
        font-size: 20px;
      }

      @include mobile {
        margin: 0 0 12px;
        font-size: 16px;
      }
    }

    & a {
      font-weight: 500;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 24px 0 72px;

    @include tablet {
      padding: 32px 0 56px;
    }

    @include mobile {
      gap: 24px;
      padding: 24px 0 48px;
    }

    &-button-next,
    &-button-prev {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      transition: $baseTransition;
      cursor: pointer;

      @include mobile {
        font-size: 14px;
      }
    }

    &-button-next {
      display: inline-block;
      padding: 12px 24px;
      color: $white;
      border: 2px solid $blue;
      border-radius: 4px;
      background-color: $blue;

      @include tablet {
        padding: 14px 20px;
      }

      @include mobile {
        padding: 13px 15px;
      }

      &:hover {
        border-color: $lightBlue;
        background-color: $lightBlue;
      }

      &:disabled {
        color: $grey300;
        border: 2px solid $grey300;
        background-color: $grey100;
      }
    }

    &-button-prev {
      display: inline-block;
      color: $blue;
      text-decoration: underline;
      border: none;
      background-color: rgba($color: $white, $alpha: 0);

      &:hover {
        color: $lightBlue;
      }
    }
  }

  &__personal {
    position: relative;

    & .order__info {
      position: absolute;
      right: 0;
      top: 20px;

      @include laptop {
        max-width: calc((100% - 40px) / 2);
      }

      @include tabletsm {
        position: static;
        max-width: 340px;
      }
    }

    & .order__main {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 70px;
      padding-right: 430px;

      @include desktop {
        gap: 16px 40px;
      }

      @include laptop {
        padding-right: 40px;
      }

      @include tablet {
        padding-right: 20px;
      }

      @include mobile {
        padding-right: 10px;
      }
    }

    &-title {
      flex: 1 1 100%;
      margin: 0;
    }

    &-name,
    &-surname,
    &-phone,
    &-email {
      flex: 1 1 calc((100% - 70px) / 2);

      @include desktop {
        flex: 1 1 calc((100% - 40px) / 2);
      }

      @include tabletsm {
        flex: 1 1 100%;
        max-width: none;
      }
    }

    &-name,
    &-surname {
      @include laptop {
        flex: 1 1 100%;
        max-width: calc((100% - 40px) / 2 + 1px);
      }

      @include tabletsm {
        flex: 1 1 100%;
        max-width: none;
      }
    }

    &-bonus {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 40px;
      margin-top: 32px;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      white-space: nowrap;

      @include laptop {
        justify-content: flex-end;
      }

      @include tabletsm {
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        margin: 0;
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }

      & .order__input {
        max-width: 420px;

        @include laptop {
          max-width: calc((100% - 40px) / 2 + 1px);
        }

        @include tabletsm {
          max-width: none;
        }
      }
    }

    &-description {
      margin: 0;
    }

    &-agreement {
      display: flex;
      gap: 8px;

      & input {
        flex: 0 0 auto;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin: 4px 0 0;
      }
    }
  }

  &__delivery {
    position: relative;

    & .order__info {
      position: absolute;
      right: 0;
      top: 20px;

      @include laptop {
        max-width: calc((100% - 40px) / 2);
      }

      @include tabletsm {
        position: static;
        max-width: 340px;
      }
    }

    & .order__main {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 24px 70px;
      min-height: 272px;
      padding-right: 430px;
      box-sizing: border-box;

      @include desktop {
        gap: 16px 40px;
      }

      @include laptop {
        padding-right: 40px;
      }

      @include tablet {
        padding-right: 20px;
      }

      @include mobile {
        padding-right: 10px;
      }
    }

    &-title {
      flex: 1 1 100%;
      display: flex !important;
      align-items: center;
      gap: 70px;
      margin: 0;

      @include laptop {
        display: block !important;
      }

      & > .custom-select {
        flex: 1 1 336px;

        @include laptop {
          max-width: calc(50% - 20px);
          margin-top: 16px;
        }

        @include tabletsm {
          max-width: none;
        }

        & > .select-selected {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 12px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          background-color: $white;

          @include laptop {
            font-size: 18px;
          }

          @include mobile {
            font-size: 16px;
          }
        }

        & > .select-items {
          gap: 12px;
          padding: 8px 0;
          border: 1px solid $grey300;
          border-radius: 4px;

          & > div {
            padding: 0 12px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;

            @include laptop {
              font-size: 18px;
            }

            @include mobile {
              font-size: 16px;
            }

            &:hover {
              background-color: $grey100;
            }

            &::before {
              display: none;
            }
          }
        }
      }
    }

    &-city {
      flex: 1 1 100%;
      max-width: calc(50% - 20px);
      margin-right: 30%;

      @include laptop {
        max-width: calc((100% - 40px) / 2 + 1px);
        margin: 0;
      }

      @include tabletsm {
        max-width: none;
      }
    }

    &-street {
      flex: 0 1 calc(50% - 20px);

      @include laptop {
        flex: 1 10 100%;
        max-width: calc((100% - 40px) / 2 + 1px);
        margin-right: 40%;
      }

      @include tabletsm {
        max-width: none;
        flex: 1 1 100%;
        margin: 0;
      }
    }

    &-address {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-house,
    &-building,
    &-room {
      flex: 1 0 25%;
      white-space: nowrap;
    }

    &-message {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      gap: 40px;
      margin-top: 32px;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      white-space: nowrap;

      @include laptop {
        justify-content: flex-end;
      }

      @include tabletsm {
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        margin: 0;
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }

      & > span {
        white-space: wrap;
        text-align: right;
      }

      & .order__input {
        flex: 0 0 calc(50% - 50px);
        height: 100px;

        @include desktop {
          flex: 0 0 calc(50% - 20px);
        }

        @include laptop {
          max-width: calc((100% - 40px) / 2 + 1px);
        }

        @include tabletsm {
          max-width: none;
          flex: 0 1 auto;
        }
      }
    }

    &-description {
      margin: 0;

      @include laptop {
        max-width: calc(50% - 20px);
        margin-right: 20%;
      }

      @include tabletsm {
        max-width: none;
        margin: 0;
      }

      &:last-child {
        max-width: none;
        margin: 0;
      }
    }

    &_self .order__main > * {
      display: none;
    }

    &_self .order__main > &-description_self {
      display: block;
    }

    &_express .order__main > &-description_self,
    &_express .order__main > &-description_gazel {
      display: none;
    }

    &_gazel .order__main > &-description_self,
    &_gazel .order__main > &-description_express,
    &_kamaz .order__main > &-description_self,
    &_kamaz .order__main > &-description_express {
      display: none;
    }
  }

  &__payment {
    & .order__main {
      display: flex;
      gap: 95px;

      @include desktop {
        gap: 16px;
      }

      @include mobile {
        flex-direction: column;
        gap: 32px;
      }
    }

    &-method {
      flex: 1 1 40%;
      min-height: 340px;
      padding: 24px;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: $white;
      cursor: pointer;

      @include mobile {
        position: relative;
        min-height: auto;
        padding: 0;
        background: none;
      }

      &::before {
        content: "";
        display: block;
        width: 48px;
        height: 48px;
        margin: 0 auto 24px;
        box-sizing: border-box;
        border: 2px solid $black;
        border-radius: 8px;
        background: url(../assets/icons/payment-radio.svg) center no-repeat;
        background-size: 100%;
        filter: grayscale(100%);
        transition: $baseTransition;
        opacity: 0.5;

        @include mobile {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
        }
      }

      &:hover::before {
        border-color: $lightBlue;
        opacity: 1;
        filter: grayscale(0%);
      }

      &:has(input:checked)::before {
        border-color: $blue;
        opacity: 1;
        filter: grayscale(0%);
      }

      & input {
        display: none;
      }

      &-name {
        margin: 0 auto 24px;
        max-width: 300px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-align: center;

        @include mobile {
          padding-left: 48px;
          margin: 0;
          font-size: 14px;
          text-align: left;
        }
      }

      &-description {
        margin: 0 auto 68px;
        max-width: 300px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: center;

        @include mobile {
          padding-left: 48px;
          margin: 8px 0 16px;
          font-size: 14px;
          text-align: left;
        }
      }

      &-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 100%;

        @include desktop {
          gap: 16px;
        }

        @include mobile {
          justify-content: flex-start;
        }

        & img {
          display: block;
          max-width: 100%;
          height: auto;
          object-fit: contain;

          @include mobile {
            max-height: 25px;
            width: auto;
          }
        }
      }
    }
  }

  &__confirmation {
    &-list {
      max-width: 992px;
      margin: 0 auto;
      background-color: $white;

      @include tabletsm {
        margin: 0 -20px;
      }

      @include mobile {
        margin: 0 -10px;
      }

      &-heading {
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;

        @include tabletsm {
          display: none;
        }

        &-name,
        &-info,
        &-price {
          padding: 12px;
          box-sizing: border-box;
          text-align: center;
          border-bottom: 1px solid $grey300;
        }

        &-name {
          flex: 1 1 auto;
        }

        &-info {
          flex: 0 0 280px;
          border-left: 1px solid $grey300;
          border-right: 1px solid $grey300;

          @include laptop {
            flex: 0 0 216px;
          }
        }

        &-price {
          flex: 0 0 228px;

          @include laptop {
            flex: 0 0 158px;
          }
        }
      }

      &-item {
        display: flex;
        border-bottom: 1px solid $grey300;

        @include tabletsm {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 8px;
          padding: 12px;
        }

        &-name,
        &-info,
        &-price {
          padding: 20px 16px;
          box-sizing: border-box;

          @include laptop {
            padding: 12px;
          }

          @include tabletsm {
            padding: 0;
          }
        }

        &-name {
          flex: 1 1 auto;
          display: flex;
          gap: 24px;

          @include laptop {
            gap: 16px;
          }

          @include tabletsm {
            flex: 1 1 100%;
          }

          &-image {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 96px;
            height: 96px;
            border-radius: 4px;
            border: 1px solid $grey300;
            background-color: $white;

            & img {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }

          &-text {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include tabletsm {
              gap: 8px;
            }
          }

          &-title,
          &-id {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            @include mobile {
              font-size: 14px;
            }
          }
        }

        &-info,
        &-price {
          display: flex;
          align-items: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }

        &-info {
          flex: 0 0 280px;
          justify-content: space-around;
          border-left: 1px solid $grey300;
          border-right: 1px solid $grey300;

          @include laptop {
            flex: 0 0 216px;
          }

          @include tabletsm {
            flex: 1 1 auto;
            justify-content: flex-start;
            gap: 20px;
            font-size: 16px;
            border: none;
          }
        }

        &-price {
          flex: 0 0 228px;
          justify-content: center;
          font-weight: 500;

          @include laptop {
            flex: 0 0 158px;
          }

          @include tabletsm {
            flex: 1 1 auto;
            justify-content: flex-end;
            padding-right: 32px;
          }
        }
      }

      &-delivery {
        display: flex;
        border-bottom: 1px solid $grey300;

        @include tabletsm {
          flex-direction: column;
          gap: 12px;
          padding: 12px 12px 20px;
        }

        &-title {
          flex: 1 1 auto;
          padding: 40px 0;
          padding-right: 148px;
          padding-left: 16px;
          box-sizing: border-box;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-align: right;
          border-right: 1px solid $grey300;

          @include laptop {
            padding-right: 66px;
          }

          @include tabletsm {
            flex: 0 1 auto;
            padding: 0;
            text-align: left;
            border: none;
          }
        }

        &-text {
          flex: 0 0 228px;
          padding: 10px;
          box-sizing: border-box;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;

          @include tabletsm {
            flex: 0 1 auto;
            padding: 0;
            font-size: 14px;
          }

          & a {
            font-weight: 500;
          }
        }
      }

      &-total {
        display: flex;

        @include tabletsm {
          justify-content: space-between;
          align-items: center;
          gap: 12px;
          padding: 12px 12px 20px;
        }

        &-title {
          flex: 1 1 auto;
          padding: 40px 0;
          padding-right: 148px;
          padding-left: 16px;
          box-sizing: border-box;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          text-align: right;
          border-right: 1px solid $grey300;

          @include laptop {
            padding-right: 66px;
          }

          @include tabletsm {
            flex: 0 1 auto;
            padding: 0;
            text-align: left;
            border: none;
          }
        }

        &-price {
          flex: 0 0 228px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
          padding: 10px;
          box-sizing: border-box;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;

          @include tabletsm {
            flex: 0 0 auto;
            justify-content: flex-start;
            padding: 0;
          }

          &::after {
            content: "*";
            color: $red;
          }
        }
      }
    }

    &-description {
      display: flex;
      gap: 4px;
      max-width: 992px;
      margin: 24px auto 40px;

      @include laptop {
        margin: 20px 0 32px;
      }

      @include tabletsm {
        margin: 12px 0 24px;
      }

      &::before {
        content: "*";
        color: $red;
      }
    }

    &-data {
      display: flex;
      gap: 64px;
      max-width: 992px;
      margin: 0 auto;
      padding: 20px 27px 40px;
      box-sizing: border-box;
      background-color: $white;

      @include desktop {
        gap: 16px;
      }

      @include tabletsm {
        flex-direction: column;
        margin: 0 -20px;
        padding: 12px 16px 24px;
      }

      @include mobile {
        margin: 0 -10px;
      }

      &-block {
        flex: 1 1 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-title {
        margin: 48px 0 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;

        &:first-child {
          margin: 0;
        }

        @include tabletsm {
          margin: 0;
        }
      }

      &-item {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        @include tabletsm {
          font-size: 14px;
        }

        &-name {
          flex: 0 1 220px;
          display: flex;
          gap: 4px;
          white-space: nowrap;

          &::after {
            content: "";
            flex: 1 1 auto;
            border-bottom: 1px dashed $blue;
          }
        }

        &-value {
          flex: 0 1 180px;

          @include tabletsm {
            flex: 1 1 180px;
          }
        }
      }
    }
  }

  &__completed {
    & .order__main {
      padding-top: 32px;
      padding-bottom: 32px;

      @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @include mobile {
        padding: 12px 0;
      }
    }

    &-body {
      padding: 20px 20px 40px;
      background-color: $white;

      @include tablet {
        padding: 20px 20px 24px;
      }

      @include mobile {
        padding: 16px 10px 24px;
      }
    }

    &-title {
      margin: 0 0 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      text-align: center;

      @include tablet {
        font-size: 20px;
      }

      @include mobile {
        margin-bottom: 4px;
      }
    }

    &-text {
      margin: 24px 0;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-align: center;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        margin: 24px 0 16px;
        font-size: 14px;
      }
    }

    &-info {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-align: center;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }

      &-id {
        font-weight: 500;
      }
    }
  }
}
