.breadcrumbs {
  display: flex;
  gap: 8px;
  margin: 16px 0;
  padding: 8px 0;
  overflow: auto;

  @include mobile {
    margin: 12px 0 8px;
  }


  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $blue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-wrap: nowrap;

    @include tablet {
      font-size: 14px;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../assets/icons/arrow-1.svg) center no-repeat ;
      background-size: 8px;
      transform: rotate(-90deg);
    }

    &:last-child::after {
      display: none;
    }
  }
}
