.good-card {
  padding: 8px 4px 24px;
  border-radius: 4px;
  border: 2px solid $grey300;
  background: #fff;

  &__figure {
    padding: 0;
    margin: 0 0 8px;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;

    @include tablet {
      height: 164px;
    }

    @include mobile {
      height: 152px;
    }
  }

  &__title {
    height: 80px;
    margin: 0 0 8px;
    padding: 0 8px;
    color: $blue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      line-height: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 0 24px;
    padding: 0 8px;
    color: $blue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;

    @include mobile {
      gap: 12px;
    }

    &-rating {
      display: flex;
      align-items: center;
      gap: 4px;
      width: 48px;

      &::before {
        content: "";
        display: block;
        height: 16px;
        width: 16px;
        background: url(../assets/icons/star-gold.svg) center no-repeat;
      }

      &.disabled {
        &::before {
          background-image: url(../assets/icons/star-grey.svg);
        }
      }
    }
  }

  &__tags {
    min-height: 14px;
    margin: 0 0 6px;
    padding: 0 8px;

    @include tablet {
      min-height: 12px;
    }
  }

  &__tag {
    color: $red;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;

    @include tablet {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin: 0 0 24px;
    padding: 0 8px;

    @include mobile {
      justify-content: space-between;
      gap: 8px;
    }

    &-current {
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      @include mobile {
        font-size: 12px;
        line-height: 16px;
      }

      & span {
        font-size: 20px;
        line-height: 30px;

        @include mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }

    &-old {
      position: relative;
      color: $blue;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;

      @include mobile {
        font-size: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        height: 1px;
        width: calc(100% + 10px);
        background-color: $red;
        transform: translateX(-50%) translateY(-50%) rotate(-8deg);

        @include mobile {
          width: calc(100% + 2px);
        }
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    padding: 0 8px;

    &-buy {
      display: inline-block;
      max-width: 148px;
      width: 100%;
      padding: 8px;
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      border: none;
      border-radius: 4px;
      background-color: $blue;
      transition: $baseTransition;
      cursor: pointer;

      &:hover {
        background-color: $lightBlue;
      }
    }

    &.active &-buy {
      display: none;
    }

    &-not-available {
      display: inline-block;
      max-width: 148px;
      width: 100%;
      padding: 8px;
      color: $blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      border-radius: 4px;
      border: 2px solid $grey300;
      background-color: $grey100;
      transition: $baseTransition;
      cursor: pointer;
    }

    &-count {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 34px;

      &-minus,
      &-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: $blue;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        border: 2px solid $blue;
        border-radius: 6px;
        background-color: $white;
        cursor: pointer;
      }

      &-quantity {
        color: $blue;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
      }
    }

    &.active &-count {
      display: flex;
    }
  }
}
